<html lang="es" xmlns:th="http://www.thymeleaf.org">
	
<head></head>
	
<body>
	
	
	<footer class="w-100 fixed-bottom d-flex p-2 bg-warning align-items-center justify-content-center flex-wrap"
	th:fragment="footer">
      <p class="mb-0 p-2 fs-6 text-dark">CONTACTA YA CON NOSOTROS PARA TUS ENVÍOS!!!!!! &copy;</p>

      <div id="iconos">
        <i class="bi bi-facebook text-dark"></i></a>
        <i class="bi bi-twitter text-dark"></i></a>
        <i class="bi bi-instagram text-dark"></i></a>
      </div>

    </footer>
	
</body>	
</html>