<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Formulario de Producto</title>
</head>

<body>

	<h3>Bienvenido, introduzca los datos del producto</h3>

	<form method="post" th:action="addProducto" th:object="${productoForm}">

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="Name">Nombre</label>
			<div class="col-md-4">
				<input id="Name" name="Name" placeholder="Nombre del producto" class="form-control input-md" type="text"
					th:field="*{name}" /> <span class="help-block">help</span>
			</div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textarea">Descripción</label>
			<div class="col-md-4">
				<textarea class="form-control" id="textarea" name="textarea" th:field="*{description}">default
					text</textarea>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Precio</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput" placeholder="Con dos decimales" class="form-control input-md"
					type="text" th:field="*{price}" /> <span class="help-block">help</span>
			</div>

		</div>

		<!-- Multiple Radios -->
		<ul>
			<li th:each="tipoProducto : ${tipos}">
				<input type="radio" th:field="*{tipo}" th:value="${tipoProducto}" />

				<label th:for="${#ids.prev('tipo')}" th:text="${tipoProducto}">Tipo
					de producto</label>
			</li>
		</ul>

		<div>

			<input type="date" id="FCaducidad" name="fCadu" th:field="*{FCaducidad}" th:value="*{FCaducidad}" />

		</div>

		<input type="submit" value="Submit" />
	</form>
</body>
</html>